# Ignore everything ...
*
# ... but keep folders. Instead, Git will not see the files
!*/

# Allowed file types (! means "do not ignore")
!*.py
!*.jsonl
!*.png
!*.txt
!*.log
!*.ipynb
!*.c
!*.h
!*.cpp
!*.html
!*.sh
!*.md

# Ignore specific folders
005_vlm_finetuning_with_unsloth/unsloth_compiled_cache

008_vlm_finetuning_with_unsloth_monsters/monster_data
008_vlm_finetuning_with_unsloth_monsters/unsloth_compiled_cache
008_vlm_finetuning_with_unsloth_monsters/outputs
008_vlm_finetuning_with_unsloth_monsters/lora_adapter_*

009_llm_finetuning/unsloth_compiled_cache
009_llm_finetuning/outputs*
009_llm_finetuning/lora_adapter_*

015_automl_with_autogluon/autogluon_ts_predictor_using_covariates/*

021_robot_arm_simulator/data*
021_robot_arm_simulator/experiment*
021_robot_arm_simulator/backup
021_robot_arm_simulator/unsloth_compiled_cache
021_robot_arm_simulator/copilot
021_robot_arm_simulator/claude/experiments
021_robot_arm_simulator/claude/README.md
021_robot_arm_simulator/claude/requirements.txt


# Ignore checkpoint files
*-checkpoint.ipynb
